@tailwind base;
@tailwind components;
@tailwind utilities;

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  margin: -1px !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

body {
  background-color: theme('colors.zinc.50');
  color: theme('colors.zinc.950');
}

@layer components {
  .btn {
    @apply mt-5 px-8 pt-1.5 pb-2 text-base rounded-xl cursor-pointer focus-visible:outline-none focus-visible:ring focus-visible:ring-offset-2 disabled:opacity-50 disabled:cursor-default
  }

  .btn-primary {
    @apply bg-zinc-500 text-zinc-50 hover:bg-zinc-600 focus-visible:ring-zinc-600 disabled:hover:bg-zinc-500 
  }

  .btn-secondary {
    @apply bg-zinc-300 text-zinc-900 hover:bg-zinc-400 focus-visible:ring-zinc-600 disabled:hover:bg-zinc-300 
  }

  .card {
    @apply relative
  }

  .card-primary-action {
    @apply focus-visible:outline-none;
  }
}

/* TODO: get the tailwind class working */
.card-primary-action::before {
  content: '';
  @apply absolute inset-0 z-10 focus-visible:outline-none focus-visible:ring focus-visible:ring-zinc-400 focus-visible:ring-offset-1 focus-visible:rounded-sm;
}

/* Show value popover in range slider when not focussed */
.rangeSlider .rangeFloat {
  opacity: 1 !important;
}